<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Hello Twitter</title>
	</head>
	<body>
		<h3>Hello, <span th:text="${twitterProfile.name}">Some User</span>!</h3>

		<h4>File saved!</h4>
		
	</body>
</html>